In [155]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [156]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

spark = SparkSession.builder \
    .appName("ETL_Films") \
    .getOrCreate()

In [157]:
sc = spark.sparkContext

**CARGA DE DATOS**

In [204]:
#CARGA DE TABLAS

df_film = spark.read.csv("Films.csv", header=True, sep=";")
df_customer = spark.read.csv("customer.csv", header=True, sep=";")
df_inventory = spark.read.csv("inventory.csv", header=True,sep=";")
df_rental = spark.read.csv("rental.csv", header=True, sep=";")
df_store = spark.read.csv("store.csv", header=True, sep=";")

In [321]:
def inspeccion_inicial(df, nombre_df):
    print(f"\n=== Inspección del DataFrame: {nombre_df} ===")
    print("Esquema del DataFrame:")
    df.printSchema()

    print("\nPrimeras 5 filas:")
    df.show(5, truncate=False)

    print("\nNúmero total de registros:")
    print(df.count())

    print("\nNombres de columnas:")
    print(df.columns)

In [322]:
inspeccion_inicial(df_film, "df_film")
inspeccion_inicial(df_customer, "df_customer")
inspeccion_inicial(df_inventory, "df_inventory")
inspeccion_inicial(df_rental, "df_rental")
inspeccion_inicial(df_store, "df_store")

=== Inspección del DataFrame: df_film ===
Esquema del DataFrame:
root
 |-- film_id: string (nullable = true)
 |--  title: string (nullable = true)
 |--  description: string (nullable = true)
 |--  release_year: string (nullable = true)
 |--  language_id: string (nullable = true)
 |--  original_language_id: string (nullable = true)
 |--  rental_duration: string (nullable = true)
 |--  rental_rate: string (nullable = true)
 |--  length: string (nullable = true)
 |--  replacement_cost: string (nullable = true)
 |--  num_voted_users: string (nullable = true)
 |--  rating: string (nullable = true)
 |--  special_features: string (nullable = true)
 |-- last_update: string (nullable = true)


Primeras 5 filas:
+-------+-----------------+----------------------------------------------------------------------------------------------------------------------+-------------+------------+---------------------+----------------+------------+-------+-----------------+----------------+-------+-----------------+--------------------+
|film_id| title           | description                                                                                                          | release_year| language_id| original_language_id| rental_duration| rental_rate| length| replacement_cost| num_voted_users| rating| special_features|last_update         |
+-------+-----------------+----------------------------------------------------------------------------------------------------------------------+-------------+------------+---------------------+----------------+------------+-------+-----------------+----------------+-------+-----------------+--------------------+
|1      | ACADEMY DINOSAUR| A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies                     |2006         |1           | NULL                |6               | 0.99       |86     | 20.99           |76750           | PG    | Deleted Scenes  | 2020-01-25 14:40:46|
|2      | ACE GOLDFINGER  | A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China                 |2006         |1           | NULL                |3               | 4.99       |48     | 12.99           |19350           | G     | Trailers        | 2020-01-25 14:40:46|
|3      | ADAPTATION HOLES| A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory                     |2006         |1           | NULL                |7               | 2.99       |50     | 18.99           |20700           | NC-17 | Trailers        | 2020-01-25 14:40:46|
|4      | AFFAIR PREJUDICE| A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank                         |x2006        |1           | NULL                |5               | 2.99       |117    | 26.99           |45500           | G     | Commentaries    | 2020-01-25 14:40:46|
|5      | AFRICAN EGG     | A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico|2006         |1           | NULL                |6               | 2.99       |130    | 22.99           |11300           | G     | Deleted Scenes  | 2020-01-25 14:40:46|
+-------+-----------------+----------------------------------------------------------------------------------------------------------------------+-------------+------------+---------------------+----------------+------------+-------+-----------------+----------------+-------+-----------------+--------------------+
only showing top 5 rows


Número total de registros:
1003

Nombres de columnas:
['film_id', ' title', ' description', ' release_year', ' language_id', ' original_language_id', ' rental_duration', ' rental_rate', ' length', ' replacement_cost', ' num_voted_users', ' rating', ' special_features', 'last_update']

=== Inspección del DataFrame: df_customer ===
Esquema del DataFrame:
root
 |-- customer_id: string (nullable = true)
 |--  store_id: string (nullable = true)
 |--  first_name: string (nullable = true)
 |--  last_name: string (nullable = true)
 |--  email: string (nullable = true)
 |--  address_id: string (nullable = true)
 |--  active: string (nullable = true)
 |--  create_date: string (nullable = true)
 |--  last_update: string (nullable = true)
 |--  customer_id_old: string (nullable = true)
 |--  segment: string (nullable = true)


Primeras 5 filas:
+-----------+---------+-----------+----------+------------------------------------+-----------+-------+--------------------+--------------------+----------------+--------+
|customer_id| store_id| first_name| last_name| email                              | address_id| active| create_date        | last_update        | customer_id_old| segment|
+-----------+---------+-----------+----------+------------------------------------+-----------+-------+--------------------+--------------------+----------------+--------+
|1          |1        | MARY      | SMITH    | MARY.SMITH@sakilacustomer.org      |5          |1      | 2006-02-14 22:04:36| 2006-02-15 04:57:20| NULL           | NULL   |
|2          |1        | PATRICIA  | JOHNSON  | PATRICIA.JOHNSON@sakilacustomer.org|6          |1      | 2006-02-14 22:04:36| 2006-02-15 04:57:20| NULL           | NULL   |
|3          |1        | LINDA     | WILLIAMS | LINDA.WILLIAMS@sakilacustomer.org  |7          |1      | 2006-02-14 22:04:36| 2006-02-15 04:57:20| NULL           | NULL   |
|4          |2        | BARBARA   | JONES    | BARBARA.JONES@sakilacustomer.org   |8          |1      | 2006-02-14 22:04:36| 2006-02-15 04:57:20| NULL           | NULL   |
|5          |1        | ELIZABETH | BROWN    | ELIZABETH.BROWN@sakilacustomer.org |9          |1      | 2006-02-14 22:04:36| 2006-02-15 04:57:20| NULL           | NULL   |
+-----------+---------+-----------+----------+------------------------------------+-----------+-------+--------------------+--------------------+----------------+--------+
only showing top 5 rows


Número total de registros:
1392

Nombres de columnas:
['customer_id', ' store_id', ' first_name', ' last_name', ' email', ' address_id', ' active', ' create_date', ' last_update', ' customer_id_old', ' segment']

=== Inspección del DataFrame: df_inventory ===
Esquema del DataFrame:
root
 |-- inventory_id: string (nullable = true)
 |-- film_id: string (nullable = true)
 |--  store_id: string (nullable = true)
 |--  last_update: string (nullable = true)


Primeras 5 filas:
+------------+-------+---------+--------------------+
|inventory_id|film_id| store_id| last_update        |
+------------+-------+---------+--------------------+
|1           |1      |1        | 2006-02-15 05:09:17|
|2           |1      |1        | 2006-02-15 05:09:17|
|3           |1      |1        | 2006-02-15 05:09:17|
|4           |1      |1        | 2006-02-15 05:09:17|
|5           |1      |2        | 2006-02-15 05:09:17|
+------------+-------+---------+--------------------+
only showing top 5 rows


Número total de registros:
4581

Nombres de columnas:
['inventory_id', 'film_id', ' store_id', ' last_update']

=== Inspección del DataFrame: df_rental ===
Esquema del DataFrame:
root
 |-- rental_id: string (nullable = true)
 |--  rental_date: string (nullable = true)
 |--  inventory_id: string (nullable = true)
 |--  customer_id: string (nullable = true)
 |--  return_date: string (nullable = true)
 |--  staff_id: string (nullable = true)
 |--  last_update: string (nullable = true)


Primeras 5 filas:
+---------+--------------------+-------------+------------+--------------------+---------+--------------------+
|rental_id| rental_date        | inventory_id| customer_id| return_date        | staff_id| last_update        |
+---------+--------------------+-------------+------------+--------------------+---------+--------------------+
|32       | 2005-05-25 04:06:21|3832         |230         | 2005-05-25 23:55:21|1        | 2006-02-15 21:30:53|
|21       | 2005-05-25 01:59:46|146          |388         | 2005-05-26 01:01:46|2        | 2006-02-15 21:30:53|
|14       | 2005-05-25 00:31:15|2701         |446         | 2005-05-26 02:56:15|1        | 2006-02-15 21:30:53|
|16       | 2005-05-25 00:43:11|389          |316         | 2005-05-26 04:42:11|2        | 2006-02-15 21:30:53|
|22       | 2005-05-25 02:19:23|727          |509         | 2005-05-26 04:52:23|2        | 2006-02-15 21:30:53|
+---------+--------------------+-------------+------------+--------------------+---------+--------------------+
only showing top 5 rows


Número total de registros:
16044

Nombres de columnas:
['rental_id', ' rental_date', ' inventory_id', ' customer_id', ' return_date', ' staff_id', ' last_update']

=== Inspección del DataFrame: df_store ===
Esquema del DataFrame:
root
 |-- store_id: string (nullable = true)
 |-- manager_staff_id: string (nullable = true)
 |--  address_id: string (nullable = true)
 |--  last_update: string (nullable = true)


Primeras 5 filas:
+--------+----------------+-----------+--------------------+
|store_id|manager_staff_id| address_id| last_update        |
+--------+----------------+-----------+--------------------+
|1       |1               |1          | 2016-02-15 04:57:12|
|2       |2               |2          | 2016-02-15 04:57:12|
+--------+----------------+-----------+--------------------+


Número total de registros:
2

Nombres de columnas:
['store_id', 'manager_staff_id', ' address_id', ' last_update']

**LIMPIEZA DE TABLAS**

In [205]:
#LIMPIEZA DE ESPACIOS

from pyspark.sql.functions import trim, col
from pyspark.sql.types import StringType

def limpiar_espacios(df):

    df = df.toDF(*[c.strip() for c in df.columns])


    for c in df.columns:
        if df.schema[c].dataType == StringType():
            df = df.withColumn(c, trim(col(c)))

    return df

In [206]:
df_film_sinespacios = limpiar_espacios(df_film)
df_customer_sinespacios = limpiar_espacios(df_customer)
df_inventory_sinespacios= limpiar_espacios(df_inventory)
df_rental_sinespacios = limpiar_espacios(df_rental)
df_store_sinespacios = limpiar_espacios(df_store)

In [207]:
#CAMBIO DE VALORES NULL Y VACIOS POR None

from pyspark.sql.functions import when, col, trim


def reemplazar_nulls(df):
    for c in df.columns:
        if df.schema[c].dataType == StringType():
            df = df.withColumn(
                c,
                when(
                    (trim(col(c)) == "NULL") |
                    (trim(col(c)) == "Null") |
                    (trim(col(c)) == ""),
                    None
                ).otherwise(trim(col(c)))
            )
    return df

In [208]:
df_film_None = reemplazar_nulls(df_film_sinespacios)
df_customer_None = reemplazar_nulls(df_customer_sinespacios)
df_inventory_None = reemplazar_nulls(df_inventory_sinespacios)
df_rental_None = reemplazar_nulls(df_rental_sinespacios)
df_store_None = reemplazar_nulls(df_store_sinespacios)

In [209]:
#ELIMINAR COLUMNAS CON 100% VALORES NULOS

def eliminar_columnas_nulas(df):
    non_null_cols = [c for c in df.columns if df.filter(col(c).isNotNull()).count() > 0]
    return df.select(*non_null_cols)

In [210]:
df_film_sincolumnasnulas = eliminar_columnas_nulas(df_film_None)
df_inventory_sincolumnasnulas = eliminar_columnas_nulas(df_inventory_None)
df_rental_sincolumnasnulas = eliminar_columnas_nulas(df_rental_None)
df_customer_sincolumnasnulas = eliminar_columnas_nulas(df_customer_None)
df_store_sincolumnasnulas = eliminar_columnas_nulas(df_store_None)

In [212]:
#Debido a que las columnas customer_id_old y segment  cuentan con un 43% de datos nulos,
#se decide eliminarlas, ya que no son columnas criticas ni indispensables para el análisis
df_customer_sincolumnasnulas = df_customer_sincolumnasnulas.drop('customer_id_old','segment')

In [213]:
#LIMPIAR COLUMNAS NUMERICAS

from pyspark.sql.functions import regexp_replace, col

def limpiar_columnas_numericas(df, columnas):
    for c in columnas:
        df = df.withColumn(c, regexp_replace(col(c), "[^0-9]", ""))
    return df

In [214]:
columnas_numericas_df_film = ['film_id','release_year','language_id','rental_duration','length','num_voted_users']
columnas_numericas_df_inventory = ['inventory_id', 'film_id', 'store_id']
columnas_numericas_df_rental = ['rental_id','inventory_id','customer_id','staff_id']
columnas_numericas_df_customer = ['customer_id','store_id','address_id','active']
columnas_numericas_df_store = ['store_id', 'manager_staff_id', 'address_id']

df_film_limpio = limpiar_columnas_numericas(df_film_sincolumnasnulas, columnas_numericas_df_film)
df_inventory_limpio = limpiar_columnas_numericas(df_inventory_sincolumnasnulas, columnas_numericas_df_inventory)
df_rental_limpio = limpiar_columnas_numericas(df_rental_sincolumnasnulas, columnas_numericas_df_rental)
df_customer_limpio = limpiar_columnas_numericas(df_customer_sincolumnasnulas, columnas_numericas_df_customer)
df_store_limpio = limpiar_columnas_numericas(df_store_sincolumnasnulas, columnas_numericas_df_store)

In [215]:
#LIMPIAR COLUMNAS DECIMALES

def limpiar_caracteres_columnas_decimales(df, columnas):
    for c in columnas:
        df = df.withColumn(c, regexp_replace(col(c), r"[^0-9.]", ""))
    return df

def limpiar_columnas_decimales(df, columnas):
    for c in columnas:
        df = df.withColumn(c, regexp_replace(col(c), ",", "."))
    return df

In [216]:
columnas_decimales_df_film = ['rental_rate', 'replacement_cost']
df_film_limpio = limpiar_caracteres_columnas_decimales(df_film_limpio, columnas_decimales_df_film)
df_film_limpio = limpiar_columnas_decimales(df_film_limpio, columnas_decimales_df_film)

**RENOMBRAR COLUMNAS**

In [217]:
#RENOMBRAR COLUMNAS

df_film_limpio = df_film_limpio.withColumnRenamed("last_update", "last_update_film")
df_inventory_limpio = df_inventory_limpio.withColumnRenamed("last_update", "last_update_inventory")
df_rental_limpio = df_rental_limpio.withColumnRenamed("last_update", "last_update_rental")
df_customer_limpio = df_customer_limpio.withColumnRenamed("last_update", "last_update_customer")
df_store_limpio = df_store_limpio.withColumnRenamed("last_update", "last_update_store")

df_store_limpio = df_store_limpio.withColumnRenamed("address_id", "address_id_store")
df_customer_limpio = df_customer_limpio.withColumnRenamed("address_id", "address_id_customer")

**CAMBIO DE TIPO DE DATOS**

In [248]:
from pyspark.sql.functions import col
from pyspark.sql.types import *

df_film_final = (
    df_film_limpio
    .withColumn("film_id", col("film_id").cast(ShortType()))
    .withColumn("title", col("title").cast(StringType()))
    .withColumn("description", col("description").cast(StringType()))
    .withColumn("release_year", col("release_year").cast(IntegerType()))
    .withColumn("language_id", col("language_id").cast(ByteType()))
    .withColumn("rental_duration", col("rental_duration").cast(ByteType()))
    .withColumn("rental_rate", col("rental_rate").cast(DecimalType(4, 2)))
    .withColumn("length", col("length").cast(ShortType()))
    .withColumn("replacement_cost", col("replacement_cost").cast(DecimalType(5, 2)))
    .withColumn("num_voted_users", col("num_voted_users").cast(IntegerType()))
    .withColumn("rating", col("rating").cast(StringType()))
    .withColumn("special_features", col("special_features").cast(StringType()))
    .withColumn("last_update_film", col("last_update_film").cast(TimestampType()))

)

df_inventory_final = (
    df_inventory_limpio
    .withColumn("inventory_id", col("inventory_id").cast(IntegerType()))
    .withColumn("film_id", col("film_id").cast(IntegerType()))
    .withColumn("store_id", col("store_id").cast(IntegerType()))
    .withColumn("last_update_inventory", col("last_update_inventory").cast(TimestampType()))
)

df_rental_final = (
    df_rental_limpio
    .withColumn("rental_id", col("rental_id").cast(IntegerType()))
    .withColumn("rental_date", col("rental_date").cast(TimestampType()))
    .withColumn("inventory_id", col("inventory_id").cast(IntegerType()))
    .withColumn("customer_id", col("customer_id").cast(ShortType()))
    .withColumn("return_date", col("return_date").cast(TimestampType()))
    .withColumn("staff_id", col("staff_id").cast(ByteType()))
    .withColumn("last_update_rental", col("last_update_rental").cast(TimestampType()))
)

df_customer_final = (
    df_customer_limpio
    .withColumn("customer_id", col("customer_id").cast(ShortType()))
    .withColumn("store_id", col("store_id").cast(ByteType()))
    .withColumn("first_name", col("first_name").cast(StringType()))
    .withColumn("last_name", col("last_name").cast(StringType()))
    .withColumn("email", col("email").cast(StringType()))
    .withColumn("address_id_customer", col("address_id_customer").cast(ShortType()))
    .withColumn("active", col("active").cast(BooleanType()))
    .withColumn("create_date", col("create_date").cast(DateType()))
    .withColumn("last_update_customer", col("last_update_customer").cast(TimestampType()))
)

df_store_final = (
    df_store_limpio
    .withColumn("store_id", col("store_id").cast(ByteType()))
    .withColumn("manager_staff_id", col("manager_staff_id").cast(ByteType()))
    .withColumn("address_id_store", col("address_id_store").cast(ShortType()))
    .withColumn("last_update_store", col("last_update_store").cast(TimestampType()))
)

In [249]:
#VERIFICAR Y ELIMINAR FILAS DUPLICADAS EN CADA TABLA

def eliminar_duplicados(df, nombre_tabla):
    print(f"Filas antes de eliminar duplicados en {nombre_tabla}: {df.count()}")
    df_sin_duplicados = df.dropDuplicates()
    print(f"Filas después de eliminar duplicados en {nombre_tabla}: {df_sin_duplicados.count()}")
    return df_sin_duplicados

df_film_final = eliminar_duplicados(df_film_final, "df_film_final")
df_inventory_final = eliminar_duplicados(df_inventory_final, "df_inventory_final")
df_rental_final = eliminar_duplicados(df_rental_final, "df_rental_final")
df_customer_final = eliminar_duplicados(df_customer_final, "df_customer_final")
df_store_final = eliminar_duplicados(df_store_final, "df_store_final")

Filas antes de eliminar duplicados en df_film_final: 1003
Filas después de eliminar duplicados en df_film_final: 1000
Filas antes de eliminar duplicados en df_inventory_final: 4581
Filas después de eliminar duplicados en df_inventory_final: 4581
Filas antes de eliminar duplicados en df_rental_final: 16044
Filas después de eliminar duplicados en df_rental_final: 16044
Filas antes de eliminar duplicados en df_customer_final: 1392
Filas después de eliminar duplicados en df_customer_final: 1392
Filas antes de eliminar duplicados en df_store_final: 2
Filas después de eliminar duplicados en df_store_final: 2

In [250]:
#Se crea una columna de Return_Status basada en diferentes condicionales y dependencias de otras columnas,
#para no eliminar filas con valores nulos que son importantes para el analisis.

from pyspark.sql.functions import col, when, datediff, avg, lit


avg_days = df_rental_final.filter(col("return_date").isNotNull()).select(avg(datediff(col("return_date"), col("rental_date")))).first()[0]


df_rental_final = df_rental_final.withColumn(
    "return_status",
    when(
        col("return_date").isNotNull() & col("rental_date").isNotNull(),
        "returned"
    ).when(
        col("return_date").isNull() &
        (datediff(col("last_update_rental"), col("rental_date")) > lit(avg_days * 3)),
        "lost"
    ).when(
        col("return_date").isNull() &
        (datediff(col("last_update_rental"), col("rental_date")) <= lit(avg_days * 3)),
        "rented"
    )
)

In [251]:
#lIMPIEZA DE NULLS EN TABLA CUSTOMER
df_customer_final = df_customer_final.fillna({"last_name": "no last name"})

In [252]:
#CONVERTIR TODOS LOS STRINGS EN MAYUSCULA
from pyspark.sql.functions import upper
from pyspark.sql.types import StringType

def to_uppercase_strings(df):
    for column, dtype in df.dtypes:
        if dtype == "string":
            df = df.withColumn(column, upper(df[column]))
    return df

df_film_final = to_uppercase_strings(df_film_final)
df_rental_final = to_uppercase_strings(df_rental_final)
df_customer_final = to_uppercase_strings(df_customer_final)

**PORCENTAJE DE VALORES NULOS POR COLUMNA**

In [283]:
#SE REVISA EL % DE VALORES NULOS EN CADA COLUMNA, CON EL FIN DE TOMAR DE DECISIONES SOBRE ESTAS

from pyspark.sql.functions import col, when, count

def porcentaje_nulos_por_tabla(tablas_dict):
    resultados = {}
    for nombre_tabla, df in tablas_dict.items():
        total_filas = df.count()
        porcentaje_nulos = df.select([
            ((count(when(col(c).isNull(), c)) / total_filas) * 100).alias(c) for c in df.columns
        ])
        resultados[nombre_tabla] = porcentaje_nulos
    return resultados

tablas = {
    "film": df_film_final,
    "inventory": df_inventory_final,
    "rental": df_rental_final,
    "customer": df_customer_final,
    "store": df_store_final
}

porcentajes_nulos = porcentaje_nulos_por_tabla(tablas)

# Mostrar los resultados
for nombre_tabla, df_porcentaje in porcentajes_nulos.items():
    print(f"Porcentaje de nulos en la tabla '{nombre_tabla}':")
    df_porcentaje.show(truncate=False)

Porcentaje de nulos en la tabla 'film':
+-------+-----+-----------+------------+-----------+---------------+-----------+------+----------------+---------------+------+----------------+----------------+
|film_id|title|description|release_year|language_id|rental_duration|rental_rate|length|replacement_cost|num_voted_users|rating|special_features|last_update_film|
+-------+-----+-----------+------------+-----------+---------------+-----------+------+----------------+---------------+------+----------------+----------------+
|0.0    |0.0  |0.0        |0.0         |0.0        |0.0            |0.0        |0.0   |0.0             |0.0            |0.0   |0.0             |0.0             |
+-------+-----+-----------+------------+-----------+---------------+-----------+------+----------------+---------------+------+----------------+----------------+

Porcentaje de nulos en la tabla 'inventory':
+------------+-------+--------+---------------------+
|inventory_id|film_id|store_id|last_update_inventory|
+------------+-------+--------+---------------------+
|0.0         |0.0    |0.0     |0.0                  |
+------------+-------+--------+---------------------+

Porcentaje de nulos en la tabla 'rental':
+---------+-----------+------------+-----------+------------------+--------+------------------+-------------+
|rental_id|rental_date|inventory_id|customer_id|return_date       |staff_id|last_update_rental|return_status|
+---------+-----------+------------+-----------+------------------+--------+------------------+-------------+
|0.0      |0.0        |0.0         |0.0        |1.1406133133881824|0.0     |0.0               |0.0          |
+---------+-----------+------------+-----------+------------------+--------+------------------+-------------+

Porcentaje de nulos en la tabla 'customer':
+-----------+--------+----------+---------+-----+-------------------+------+-----------+--------------------+
|customer_id|store_id|first_name|last_name|email|address_id_customer|active|create_date|last_update_customer|
+-----------+--------+----------+---------+-----+-------------------+------+-----------+--------------------+
|0.0        |0.0     |0.0       |0.0      |0.0  |0.0                |0.0   |0.0        |0.0                 |
+-----------+--------+----------+---------+-----+-------------------+------+-----------+--------------------+

Porcentaje de nulos en la tabla 'store':
+--------+----------------+----------------+-----------------+
|store_id|manager_staff_id|address_id_store|last_update_store|
+--------+----------------+----------------+-----------------+
|0.0     |0.0             |0.0             |0.0              |
+--------+----------------+----------------+-----------------+

**Modelado entidad-relación**

In [292]:
#MER
from pyspark.sql.functions import col

def generar_df_analitico(df_rental_final, df_customer_final, df_store_final, df_inventory_final, df_film_final):
    # Renombramos columnas clave para evitar ambigüedades
    df_customer_final = df_customer_final.withColumnRenamed("store_id", "customer_store_id")
    df_store_final = df_store_final.withColumnRenamed("store_id", "store_id_store")
    df_inventory_final = df_inventory_final.withColumnRenamed("store_id", "store_id_inventory")

    return (
        df_rental_final
        .join(df_customer_final, on="customer_id", how="inner")
        .join(df_store_final, col("customer_store_id") == col("store_id_store"), how="inner")
        .join(df_inventory_final, on="inventory_id", how="inner")
        .join(df_film_final, on="film_id", how="inner")
    )

In [293]:
df_analitico_final = generar_df_analitico(
    df_rental_final,
    df_customer_final,
    df_store_final,
    df_inventory_final,
    df_film_final
)

In [294]:
df_analitico_final.printSchema()
df_analitico_final.show(5, truncate=False)

root
 |-- film_id: integer (nullable = true)
 |-- inventory_id: integer (nullable = true)
 |-- customer_id: short (nullable = true)
 |-- rental_id: integer (nullable = true)
 |-- rental_date: timestamp (nullable = true)
 |-- return_date: timestamp (nullable = true)
 |-- staff_id: byte (nullable = true)
 |-- last_update_rental: timestamp (nullable = true)
 |-- return_status: string (nullable = true)
 |-- customer_store_id: byte (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = false)
 |-- email: string (nullable = true)
 |-- address_id_customer: short (nullable = true)
 |-- active: boolean (nullable = true)
 |-- create_date: date (nullable = true)
 |-- last_update_customer: timestamp (nullable = true)
 |-- store_id_store: byte (nullable = true)
 |-- manager_staff_id: byte (nullable = true)
 |-- address_id_store: short (nullable = true)
 |-- last_update_store: timestamp (nullable = true)
 |-- store_id_inventory: integer (nullable = true)
 |-- last_update_inventory: timestamp (nullable = true)
 |-- title: string (nullable = true)
 |-- description: string (nullable = true)
 |-- release_year: integer (nullable = true)
 |-- language_id: byte (nullable = true)
 |-- rental_duration: byte (nullable = true)
 |-- rental_rate: decimal(4,2) (nullable = true)
 |-- length: short (nullable = true)
 |-- replacement_cost: decimal(5,2) (nullable = true)
 |-- num_voted_users: integer (nullable = true)
 |-- rating: string (nullable = true)
 |-- special_features: string (nullable = true)
 |-- last_update_film: timestamp (nullable = true)

+-------+------------+-----------+---------+-------------------+-------------------+--------+-------------------+-------------+-----------------+----------+---------+---------------------------------+-------------------+------+-----------+--------------------+--------------+----------------+----------------+-------------------+------------------+---------------------+---------------+--------------------------------------------------------------------------------------------------------+------------+-----------+---------------+-----------+------+----------------+---------------+------+----------------+-------------------+
|film_id|inventory_id|customer_id|rental_id|rental_date        |return_date        |staff_id|last_update_rental |return_status|customer_store_id|first_name|last_name|email                            |address_id_customer|active|create_date|last_update_customer|store_id_store|manager_staff_id|address_id_store|last_update_store  |store_id_inventory|last_update_inventory|title          |description                                                                                             |release_year|language_id|rental_duration|rental_rate|length|replacement_cost|num_voted_users|rating|special_features|last_update_film   |
+-------+------------+-----------+---------+-------------------+-------------------+--------+-------------------+-------------+-----------------+----------+---------+---------------------------------+-------------------+------+-----------+--------------------+--------------+----------------+----------------+-------------------+------------------+---------------------+---------------+--------------------------------------------------------------------------------------------------------+------------+-----------+---------------+-----------+------+----------------+---------------+------+----------------+-------------------+
|646    |2945        |256        |232      |2005-05-26 11:38:05|2005-05-27 08:42:05|2       |2006-02-15 21:30:53|RETURNED     |2                |MABEL     |HOLLAND  |MABEL.HOLLAND@SAKILACUSTOMER.ORG |261                |true  |2006-02-14 |2006-02-15 04:57:20 |2             |2               |2               |2016-02-15 04:57:12|2                 |2006-02-15 05:09:17  |OUTBREAK DIVINE|A UNBELIEVEABLE YARN OF A DATABASE ADMINISTRATOR AND A WOMAN WHO MUST SUCCUMB A A SHARK IN A U-BOAT     |2006        |1          |6              |0.99       |169   |12.99           |22400          |NC-17 |TRAILERS        |2020-01-25 14:40:46|
|300    |1359        |51         |119      |2005-05-25 19:37:02|2005-05-29 23:51:02|2       |2006-02-15 21:30:53|RETURNED     |1                |ALICE     |STEWART  |ALICE.STEWART@SAKILACUSTOMER.ORG |55                 |true  |2006-02-14 |2006-02-15 04:57:20 |1             |1               |1               |2016-02-15 04:57:12|2                 |2006-02-15 05:09:17  |FALCON VOLUME  |A FATEFUL SAGA OF A SUMO WRESTLER AND A HUNTER WHO MUST REDEEM A A SHARK IN NEW ORLEANS                 |2006        |1          |5              |4.99       |102   |21.99           |8250           |PG-13 |COMMENTARIES    |2020-01-25 14:40:46|
|773    |3534        |502        |258      |2005-05-26 15:28:14|2005-05-30 18:38:14|2       |2006-02-15 21:30:53|RETURNED     |1                |BRETT     |CORNWELL |BRETT.CORNWELL@SAKILACUSTOMER.ORG|507                |true  |2006-02-14 |2006-02-15 04:57:20 |1             |1               |1               |2016-02-15 04:57:12|2                 |2006-02-15 05:09:17  |SEABISCUIT PUNK|A INSIGHTFUL SAGA OF A MAN AND A FORENSIC PSYCHOLOGIST WHO MUST DISCOVER A MAD COW IN A MYSQL CONVENTION|2006        |1          |6              |2.99       |112   |28.99           |2150           |NC-17 |COMMENTARIES    |2020-01-25 14:40:46|
|543    |2479        |124        |1039     |2005-05-31 05:32:29|2005-06-01 06:04:29|2       |2006-02-15 21:30:53|RETURNED     |1                |SHEILA    |WELLS    |SHEILA.WELLS@SAKILACUSTOMER.ORG  |128                |false |2006-02-14 |2006-02-15 04:57:20 |1             |1               |1               |2016-02-15 04:57:12|2                 |2006-02-15 05:09:17  |MADIGAN DORADO |A ASTOUNDING CHARACTER STUDY OF A A SHARK AND A A SHARK WHO MUST DISCOVER A CROCODILE IN THE OUTBACK    |2006        |1          |5              |4.99       |116   |20.99           |28650          |R     |DELETED SCENES  |2020-01-25 14:40:46|
|433    |1986        |24         |1077     |2005-05-31 10:22:54|2005-06-02 12:21:54|1       |2006-02-15 21:30:53|RETURNED     |2                |KIMBERLY  |LEE      |KIMBERLY.LEE@SAKILACUSTOMER.ORG  |28                 |true  |2006-02-14 |2006-02-15 04:57:20 |2             |2               |2               |2016-02-15 04:57:12|2                 |2006-02-15 05:09:17  |HORN WORKING   |A STUNNING DISPLAY OF A MAD SCIENTIST AND A TECHNICAL WRITER WHO MUST SUCCUMB A MONKEY IN A SHARK TANK  |2006        |1          |4              |2.99       |95    |23.99           |14850          |PG    |TRAILERS        |2020-01-25 14:40:46|
+-------+------------+-----------+---------+-------------------+-------------------+--------+-------------------+-------------+-----------------+----------+---------+---------------------------------+-------------------+------+-----------+--------------------+--------------+----------------+----------------+-------------------+------------------+---------------------+---------------+--------------------------------------------------------------------------------------------------------+------------+-----------+---------------+-----------+------+----------------+---------------+------+----------------+-------------------+
only showing top 5 rows

# **EDA Análisis exploratorio de datos**

Analisis univariado

In [295]:
#VARIABLES NUMERICAS

from pyspark.sql.functions import col
from pyspark.sql.types import NumericType

def analisis_univariado_numerico(df):

    columnas_numericas = [f.name for f in df.schema.fields if isinstance(f.dataType, NumericType)]


    resumen = df.select(*columnas_numericas).describe()


    resumen.show(truncate=False)

In [296]:
analisis_univariado_numerico(df_analitico_final)

+-------+------------------+------------------+------------------+-----------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+------------+-----------+-----------------+-----------------+------------------+-----------------+------------------+
|summary|film_id           |inventory_id      |customer_id       |rental_id        |staff_id          |customer_store_id  |address_id_customer|store_id_store     |manager_staff_id   |address_id_store   |store_id_inventory  |release_year|language_id|rental_duration  |rental_rate      |length            |replacement_cost |num_voted_users   |
+-------+------------------+------------------+------------------+-----------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+------------+-----------+-----------------+-----------------+------------------+-----------------+------------------+
|count  |16044             |16044             |16044             |16044            |16044             |16044              |16044              |16044              |16044              |16044              |16044               |16044       |16044      |16044            |16044            |16044             |16044            |16044             |
|mean   |501.10888805784094|2291.8425579655946|297.14316878583895|8025.371478434306|1.49887808526552  |1.4548117676389927 |301.8585140862628  |1.4548117676389927 |1.4548117676389927 |1.4548117676389927 |1.9992520568436798  |2006.0      |1.0        |4.935489902767389|2.942630         |114.97107953128895|20.215462        |39301.98828222389 |
|stddev |288.51352853443257|1322.2106432491476|172.45313648154487|4632.777248876796|0.5000143241440549|0.49796935597986214|173.08537080130517 |0.49796935597986214|0.49796935597986214|0.49796935597986214|0.027339171963283424|0.0         |0.0        |1.40168979439409 |1.649677567954177|40.102347231803414|6.081773871681717|22485.385207691626|
|min    |1                 |1                 |1                 |1                |1                 |1                  |5                  |1                  |1                  |1                  |1                   |2006        |1          |3                |0.99             |46                |9.99             |0                 |
|max    |1000              |4581              |599               |16049            |2                 |2                  |605                |2                  |2                  |2                  |2                   |2006        |1          |7                |4.99             |185               |29.99            |76900             |
+-------+------------------+------------------+------------------+-----------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+------------+-----------+-----------------+-----------------+------------------+-----------------+------------------+

In [297]:
from pyspark.sql.functions import col, desc
from pyspark.sql import Row

def resumen_categoricas(df, top_n=10):
    columnas_categoricas = [f.name for f in df.schema.fields
                            if f.dataType.simpleString() in ['string', 'boolean']]

    columnas_excluir = ['first_name', 'last_name', 'email', 'description']

    columnas_filtradas = [c for c in columnas_categoricas if c not in columnas_excluir]

    resumen = []

    for columna in columnas_filtradas:
        count = df.filter(col(columna).isNotNull()).count()
        unique = df.select(columna).distinct().count()
        fila_top = df.groupBy(columna).count().orderBy(desc("count")).first()

        top = fila_top[columna] if fila_top else None
        freq = fila_top["count"] if fila_top else None

        resumen.append(Row(
            columna=columna,
            count=count,
            unique=unique,
            top=top,
            freq=freq
        ))

    return spark.createDataFrame(resumen)

In [298]:
resumen_categoricas(df_analitico_final).show()

+----------------+-----+------+------------------+-----+
|         columna|count|unique|               top| freq|
+----------------+-----+------+------------------+-----+
|   return_status|16044|     3|          RETURNED|15861|
|          active|16044|     2|              true|15640|
|           title|16044|   958|BUCKET BROTHERHOOD|   34|
|          rating|16044|     5|             PG-13| 3585|
|special_features|16044|     4|          TRAILERS| 8518|
+----------------+-----+------+------------------+-----+

In [299]:
from pyspark.sql.functions import col
from pyspark.sql.types import NumericType
from pyspark.sql import Row

def detectar_outliers_iqr_df(df, precision=0.01):
    columnas_numericas = [f.name for f in df.schema.fields
                          if isinstance(f.dataType, NumericType) and "id" not in f.name.lower()]

    resumen = []

    for columna in columnas_numericas:
        try:
            q1, q2, q3 = df.approxQuantile(columna, [0.25, 0.5, 0.75], precision)
            iqr = q3 - q1
            lim_inf = q1 - 1.5 * iqr
            lim_sup = q3 + 1.5 * iqr
            count_outliers = df.filter((col(columna) < lim_inf) | (col(columna) > lim_sup)).count()

            resumen.append(Row(
                columna=columna,
                Q1=round(q1, 2),
                Q2=round(q2, 2),
                Q3=round(q3, 2),
                Limite_Inferior=round(lim_inf, 2),
                Limite_Superior=round(lim_sup, 2),
                Outliers=count_outliers
            ))
        except:
            resumen.append(Row(
                columna=columna,
                Q1=None,
                Q2=None,
                Q3=None,
                Limite_Inferior=None,
                Limite_Superior=None,
                Outliers=None
            ))

    df_resumen = spark.createDataFrame(resumen)
    df_resumen.select("columna", "Q1", "Q2", "Q3", "Limite_Inferior", "Limite_Superior", "Outliers") \
              .orderBy("columna") \
              .show(truncate=False)

    return df_resumen

In [300]:
detectar_outliers_iqr_df(df_analitico_final)

+----------------+-------+-------+-------+---------------+---------------+--------+
|columna         |Q1     |Q2     |Q3     |Limite_Inferior|Limite_Superior|Outliers|
+----------------+-------+-------+-------+---------------+---------------+--------+
|length          |80.0   |112.0  |148.0  |-22.0          |250.0          |0       |
|num_voted_users |18300.0|38950.0|58300.0|-41700.0       |118300.0       |0       |
|release_year    |2006.0 |2006.0 |2006.0 |2006.0         |2006.0         |0       |
|rental_duration |4.0    |5.0    |6.0    |1.0            |9.0            |0       |
|rental_rate     |0.99   |2.99   |4.99   |-5.01          |10.99          |0       |
|replacement_cost|14.99  |19.99  |24.99  |-0.01          |39.99          |0       |
+----------------+-------+-------+-------+---------------+---------------+--------+

DataFrame[columna: string, Q1: double, Q2: double, Q3: double, Limite_Inferior: double, Limite_Superior: double, Outliers: bigint]

In [329]:
from pyspark.sql.functions import col, count, avg, desc, isnull, datediff, to_date

# 1. Número total de películas, clientes, tiendas, alquileres
print("Número total de películas, clientes, tiendas y alquileres:")
print("Películas:", df_analitico_final.select("film_id").distinct().count())
print("Clientes:", df_analitico_final.select("customer_id").distinct().count())
print("Tiendas:", df_analitico_final.select("store_id_store").distinct().count())
print("Alquileres:", df_analitico_final.select("rental_id").distinct().count())

# 2. ¿Cuántos clientes están activos vs. inactivos?
print("\nCantidad de clientes activos vs. inactivos:")
df_analitico_final.groupBy("active").count().show()

# 3. Número de películas distintas por tienda
print("\nNúmero de películas distintas disponibles por tienda:")
df_analitico_final.select("store_id_store", "film_id").distinct().groupBy("store_id_store").count().show()

# 4. Top 10 clientes con más alquileres
print("\nTop 10 clientes con más alquileres:")
df_analitico_final.groupBy("customer_id").count().orderBy(desc("count")).show(10)

# 5. Cantidad de alquileres por tienda
print("\nCantidad de alquileres por tienda:")
df_analitico_final.groupBy("store_id_store").count().orderBy("store_id_store").show()

# 6. Películas más alquiladas
print("\nPelículas con mayor número de alquileres:")
df_analitico_final.groupBy("title").count().orderBy(desc("count")).show(10)

# 7. Promedio de alquileres por cliente
print("\nPromedio de alquileres por cliente:")
alquileres_por_cliente = df_analitico_final.groupBy("customer_id").count()
alquileres_por_cliente.select(avg("count").alias("avg_rentals")).show()

# 8. Clientes que no devolvieron películas
clientes_lost = df_analitico_final.filter(col("return_status") == "LOST").select("customer_id").distinct()
print(f"Total de clientes con películas no devueltas: {clientes_lost.count()}")
clientes_lost.show()

# 9. Duración promedio de alquileres (días)
print("\nDuración promedio de los alquileres en días:")
df_analitico_final = df_analitico_final.withColumn("dias_alquiler", datediff("return_date", "rental_date"))
df_analitico_final.select(avg("dias_alquiler").alias("promedio_dias")).show()


# 10. Valor de perdidas por peliculas no devueltas
from pyspark.sql.functions import col, sum as spark_sum

print("Ingreso potencial perdido por películas con estado LOST:")

ingreso_perdido_lost = df_analitico_final.filter(col("return_status") == "LOST") \
    .agg(spark_sum("rental_rate")) \
    .collect()[0][0]

print(f"Perdidas por peliculas no devueltas: ${ingreso_perdido_lost:.2f}")

Número total de películas, clientes, tiendas y alquileres:
Películas: 958
Clientes: 599
Tiendas: 2
Alquileres: 16044

Cantidad de clientes activos vs. inactivos:
+------+-----+
|active|count|
+------+-----+
|  true|15640|
| false|  404|
+------+-----+


Número de películas distintas disponibles por tienda:
+--------------+-----+
|store_id_store|count|
+--------------+-----+
|             1|  957|
|             2|  958|
+--------------+-----+


Top 10 clientes con más alquileres:
+-----------+-----+
|customer_id|count|
+-----------+-----+
|        148|   46|
|        526|   45|
|        236|   42|
|        144|   42|
|         75|   41|
|        197|   40|
|        469|   40|
|        178|   39|
|        137|   39|
|        468|   39|
+-----------+-----+
only showing top 10 rows


Cantidad de alquileres por tienda:
+--------------+-----+
|store_id_store|count|
+--------------+-----+
|             1| 8747|
|             2| 7297|
+--------------+-----+


Películas con mayor número de alquileres:
+-------------------+-----+
|              title|count|
+-------------------+-----+
| BUCKET BROTHERHOOD|   34|
|   ROCKETEER MOTHER|   33|
|     GRIT CLOCKWORK|   32|
|RIDGEMONT SUBMARINE|   32|
|      SCALAWAG DUCK|   32|
|     JUGGLER HARDLY|   32|
|     FORWARD TEMPLE|   32|
|     TIMBERLAND SKY|   31|
|  GOODFELLAS SALUTE|   31|
|       NETWORK PEAK|   31|
+-------------------+-----+
only showing top 10 rows


Promedio de alquileres por cliente:
+------------------+
|       avg_rentals|
+------------------+
|26.784641068447414|
+------------------+

Total de clientes con películas no devueltas: 1
+-----------+
|customer_id|
+-----------+
|        554|
+-----------+


Duración promedio de los alquileres en días:
+-----------------+
|    promedio_dias|
+-----------------+
|5.025219090851775|
+-----------------+

Ingreso potencial perdido por películas con estado LOST:
Perdidas por peliculas no devueltas: $0.99